.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.app-bg {
  background-color: var(--color-first);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
}
